<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <div class="container">
    <h1 style="color:blue">Chat</h1>
    <form>
        <div class="mb-3">
            <label for="message" class="form-label">Escribi tu mensaje: </label>
            <input class="form-control" id="message" name="message" required>
        </div>
        <button type="submit" id="new" class="btn btn-primary">Enviar</button>
    </form>
</div>
<table id="tabla1" class="table table-dark table-striped">
    <tr>
        <th>Fecha</th>
        <th>User</th>
        <th>Mensaje</th>
    </tr>
    {{#each messages}}
    <tr>
        <td>{{this.date}}</td>
        <td>{{this.user}}</td>
        <td>{{this.message}}</td>
    </tr>
    {{/each}}
</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>